.inputBlock{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 110px;
  z-index: 1000;
  background: #ffffff;
}

.userInput{
  max-width: 400px;
  height: 40px;
  border: 2px solid green;
  border-radius: 4px;
  padding: 5px;
  font-size: 18px;
  outline: none;
  margin-top: 50px;
}

.cardBlock{
  width: 80%;
  margin: auto;
  margin-top: 130px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cardBox{
  width: 250px;
}

.card{
  border: 2px solid green;
  box-shadow: 1px 10px 10px green;
  border-radius: 4px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.removeTermin{
  width: 100%;
  color: green;
  height: 30px;
  border-radius: 4px;
  border: 2px solid green;
  outline: none;
  margin-top: 5px;
  transition: .3s;
}

.removeTermin:hover{
  cursor: pointer;
  background: red;
  border: 2px solid red;
  color: #ffffff;
}

.date{
  margin-top: 10px;
  color: blue;
}

.time{
  color: green;
}

.name{
  font-weight: bold;
  color: white;
  background: green;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
}

.openModal{
  height: 30px;
  background: green;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 0 0 4px 0;
  color: #ffffff;
  transition: .2s;
  position: fixed;
  top: 0;
  left: 0;
}

.openModal:hover{
  cursor: pointer;
  opacity: 0.9;
}

.addTermin{
  border: 2px solid green;
  border-radius: 4px;
  padding: 10px;
  color: green;
  transition: .3s;
}

.addTermin:hover{
  cursor: pointer;
  background: green;
  color: #ffffff;
}

.nocard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error{
  font-size: 22px;
  color: red;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: green;
  z-index: 2000;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 360px;
  padding: 30px;
  border: 2px solid green;
  border-radius: 4px;
  background: #ffffff;
}

.inputForm{
  height: 40px;
  border: 2px solid green;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.buttonForm{
  height: 40px;
  border: none;
  border-radius: 4px;
  background: green;
  color: #ffffff;
  transition: .2s;
}

.buttonForm:hover{
  cursor: pointer;
  opacity: 0.9;
}

.closeModal{
  background: none;
  border: none;
  color: #ffffff;
  font-size: 35px;
  transition: .2s;
  position: absolute;
  top: 30px;
  right: 30px;
}

.closeModal:hover{
  cursor: pointer;
  opacity: 0.9;
}

.delConfirmModal{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1900;
  background: green;
  color: #ffffff;
  padding: 20px;
  width: 300px;
  border-bottom-left-radius: 4px;
}

.confirmText{
  margin-bottom: 10px;
}

.confirmYes{
  padding: 5px;
  width: 60px;
  background: red;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
}

.confirmYes:hover{
  cursor: pointer;
  opacity: 0.8;
}

.confirmNo{
  padding: 5px;
  width: 60px;
  background: #ffffff;
  color: green;
  border: 1px solid #ffffff;
  border-radius: 4px;
  border: 0;
  margin-right: 12px;
}

.confirmNo:hover{
  cursor: pointer;
  opacity: 0.9;
}
.w3-animate-opacity{animation:opac 0.3s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{animation:animatetop 0.1s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{animation:animateright 0.1s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.1s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}